.about {
    text-align: center;

    &__title {
        margin-top: 81px;
        margin-bottom: 24px;
        color: #555555;
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
    }

    &__text {
        display: block;
        margin: 0 auto;
        max-width: 757px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;

    }

    &__wrapper-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        @include md-block() {
            flex-wrap: wrap;
        }
    }

    &__btn {
        margin-top: 40px;
        display: block;
        text-decoration: none;
        margin-right: 10px;
        width: 120px;
        height: 23px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        background: transparent;
        line-height: 23px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
    }

    &__btn:hover {
        background: #998675;
        color: #fff;
    }
}

.btn-all {
    width: 70px;
}

.project {
    @include row-flex;

    &__item {
        @include col;
        @include size(4);
        @include size-md(6);
        @include size-xs(12);
        margin-top: 30px;
        text-align: center;
        background: #fbfaf8;
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__item:hover .project__img {
        opacity: .4;
    }

    &__item:hover {
        background: #362f2d;
    }

    &__item:hover .project__title {
        color: #fff;
    }

    &__item:hover .project__text {
        color: #c7b299;
    }

    &__item:hover .op {
        display: block;
    }

    &__title {
        display: block;
        margin-top: 6px;
        color: #c7b299;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    &__text {
        display: block;
        color: #d1d1d1;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 27px;
    }

}


.arrow {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fbfaf8;
    transform: rotate(45deg);
    margin-left: 19px;
    margin-top: -7px;
}

.project__item:hover .arrow {
    background: #362f2d;
}

.project__item:hover .prokect__svg-link {
    display: block;
}

.project__item:hover .prokect__svg-lupa {
    display: block;
}

.prokect__svg-link,
.prokect__svg-lupa {
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    top: 96px;
    left: 40%;
    display: none;
}

.prokect__svg-lupa {
    left: 50%;
}

.svglink .path2:before {
    color: #fff;
}

.svglink .path2:hover:before {
    color: #c7b299;
}

.svglupa .path2:hover:before {
    color: #c7b299;
}

.about__btn {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 170px;
    height: 50px;
    line-height: 50px;
    background: #998675;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;

    @include md-block() {
        margin: 20px auto;
    }
}